* {
  margin: 0;
  padding: 0;
  border: 0;
}
.App {
  text-align: center;
  background-color: #eee;
  top: 0;
  height: 100vh;
  position: relative;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
